<!DOCTYPE html>
   <head>
      <title>Temperature</title>
   </head>

   <body>
      <h1>Temperature Checker</h1>
      <form action="http://localhost:8082" method="post">
	 <label for="start_date">From</label>
         <input type="date" id="start_date" name="start_date">
	 <label for="end_date">to</label>
	 <input type="date" id="end_date" name="end_date">
         <input type="submit">
      </form>
      <p>
         {{ start_date }}
	 <br>
	 {{ end_date }}
      </p>
      <table>
         <thead>
            <tr>
               <th>Date/Time</th>
    	       <th>Celcius</th>
	       <th>Fahrenheit</th>
            </tr>
	 </thead>
	 <tbody>
         {% for row in data %}
	    <tr>
	       <td>{{ row }}</td>
	    </tr>
	 {% endfor %}
	 </tbody>
      </table>
   </body>
</html>